* {
	margin: 0;
	padding: 0;
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header{
	width: 100%;
	background-color: #026AA7;
	overflow: hidden;
	position: fixed;
	z-index: 1000;
	display: table;
}

.header{
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
}

.contenedor:before, .contenedor:after{
  display: table;
  content: "";
}

.fijando-cajas{
  display: flex;
  flex-wrap: wrap;
  content: "";
  clear: both;
}

.nav{
	width: 30%;
	margin-top: 8px;
}

.nav a{
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background: rgba(255,255,255,.3);
	color: #f3f3f3;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	border-radius: 5px;
}

.nav input{
	padding: 5px;
	background: rgba(255,255,255,.3);
	color: #f3f3f3;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	border-radius: 5px;
	border: none;
}

.nav input:focus{
	outline: none;
	width: 300px;
	background-color: white;
}

.logo{
	width: 40%;
	justify-content: center;
	text-align: center;
}

.logo a{
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
	text-decoration: none;
	color:white;
	opacity: 0.4;
}

.logo a i{
	font-size: 25px;
}
.nav2{
	width: 30%;
}

.menu{
	width: 40px;
	height: 40px;
	font-size: 20px;
	float: right;
	margin-right: 20px;
	padding: 8px;
	background: rgba(255,255,255,.3);
	text-align: center;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.iniciales{
	color: black;
	border-radius: 50%;
	font-weight: 500;
	font-size: 15px;
	padding-top: 10px;
}
